@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1060 W Addison St<br />
    Chicago, IL 60613<br />
    <abbr title="Phone">P:</abbr>
    312.867.5309
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:noreply@hotmail.com">noreply@hotmail.com</a>
</address>