@{
    ViewBag.Title = "Site Map";
}

<div class="jumbotron">
    <h1>Random Provider Directory</h1>
    <p class="lead">Your source for searching randomly generated providers and booking appointments on these fleeting objects</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Find a hospital within your region by navigating to the <a>Provider Search</a>.</p>
        <p>Once a designated provider is selected, you can proceed to book an appointment.</p>

    </div>
    <div class="col-md-4">
        <h2>Apointments</h2>
        <p>Review all your upcoming and previous appointments</p>
        <p>Or redirect to search for provider</p>
    </div>
    <div class="col-md-4">
        <h2>Profile</h2>
        <p>Review all your profile details.</p>
        <p>Edit as you see necessary.</p>
    </div>
</div>